.details_page {
  border: 3px solid;
  min-height: 100vh;
}
.details_img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
.details_wrapper {
  display: flex;
  margin: 2rem;
}
.details_intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_pannel {
  width: 50%;
  padding: 1rem;
  border-right: 2px solid ;
  padding-left: 0;
}
.right_pannel {
  width: 50%;
  display: flex;
  justify-content: center;
}

.right_pannel {
  display: flex;
  flex-direction: column;
}
.details_menu {
  display: flex;
  justify-content: center;
}
.menu_cat_name {
  border-bottom: 3px solid;
  display: inline-block;
  margin: 0 45% 0 45%;
  justify-content: center;
}
.item {
  margin-left: 1rem;
  display: block;
  margin-left: 45%;
  justify-content: center;
}
.add_me{
    border: 3px solid;
    min-height: 2rem;
    padding: 0.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 50ms;
  
}
.add_me:hover{
  transform: scale(1.1);
}
