html,
body {
  min-height: calc(100vh - 36px);
}

footer {
  height: 3rem;
  background-color: rgb(151, 151, 151);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-width: 100vw;
  position: relative;
  left: 0;
  bottom: -1rem;
}
