.header {
  height: 3rem;
  background-color: rgb(151, 151, 151);
  display: flex;
  align-items: center;
  text-decoration: none;
  position: sticky;
  z-index: 10;
  top: 0;
}

.favorites_link,
.homepage_link {
  text-decoration: none;
  color: white;
}
.topnav {
  border: 3px solid green;
  width: 15%;
  display: flex;
  margin-left: 3rem;
  justify-content: space-around;
}
.logo {
  height: 3rem;
  width: 3rem;
}
.logo_link {
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
}
