.restaurantsList_wrapper{
  margin-top: 2rem;
    padding: 2rem 2rem 2rem 3.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start; 
   /*  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto); */
}
